@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  font-family: "Lato",
  sans-serif;

  @media (max-width: 480px) {
    font-size: 0.95em;

  }

  @media (max-width: 360px) {
    font-size: 0.93em;

  }

  @media (max-width: 300px) {
    font-size: 0.9em;

  }
}

body {
  background-image: linear-gradient(217deg, #36d1dc, #5b86e5);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .appContent {
    width: 80vw;
    padding: 10px;
    background-color: #f3f4f7;
    border-radius: 5px;

    .mainTitle {
      font-size: 1.3em
    }

    .btn {
      background-color: #37d77f;
      padding: 8px 10px;
      border-radius: 3px;
      border: none;
      font-weight: bold;
      font-size: 0.9em;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .lineInForm {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 3px auto;

        .formLbl {
          margin-bottom: 2px;
        }
      }
    }

    .mainTitle {
      text-align: center;
    }

    .tasksList {
      // list-style: none;
      list-style-type: none;
      // margin-left: -1em;

      .task {
        // width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        margin: 10px;
        // margin-left: -1em;
        background-color: #fff;

        .taskLbl {
          max-width: calc(100% - 130px);

          &.finished {
            text-decoration: line-through;
          }

          .taskTitle {
            font-size: 1.2em;
            font-weight: bold;
            overflow: hidden;
            max-width: 10vw;
            word-wrap: break-word;
            margin-right: 20px;
          }

          .taskDescription {
            word-wrap: break-word;
            overflow: hidden;
            max-width: 10vw;
            margin-right: 20px;
          }
        }

        .inputContainer {
          min-width: 120px;
          width: auto;

          .inputCheckbox {
            margin-left: 20px;
            position: relative;

            &:before {
              content: "";
              display: block;
              position: absolute;
              width: 20px;
              height: 20px;
              top: -2px;
              left: 0;
              background-color: #e9e9e9;
            }

            &:checked {
              &:before {
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                top: -2px;
                left: 0;
                background-color: #e9e9e9;
              }

              &:after {
                content: "";
                display: block;
                width: 5px;
                height: 10px;
                border: solid #20c02e 2px;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                top: 2px;
                left: 6px;
              }
            }
          }

          .inputButton {
            margin-left: 30px;
          }

          .finished {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}